div.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.zag{
    border: 2px solid black;
    font-size: 30px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.first{
    border: 2px solid black;
    align-self: center;
    width: 20%;
}
.second{
    border: 2px solid black;
    width: 40%;
}
.third{
    width: 20%;
    border: 2px solid black;
}
.item{
    padding: 10px 30px 10px 30px;
    height: fit-content;
}
video{
    width: 280px;
    margin-bottom: 10px;
}
audio{
    margin-bottom: 10px;
}